
<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
<style>
body {
 font-family: 'Dekko';font-size: 22px;
}
</style>
</head>
<body>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Animal Identification</title>
    <!-- Link and Script for Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Link for our style.css (needs to go after bootstrap)-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
        <div class="topnav">
                <a href="{{ url_for('.upload') }}">Home</a>
                <a href="{{ url_for('.Team') }}">Meet the Team </a>
                <a href="#contact">Contact</a>
                <a class="active" href="{{ url_for('.About') }}">About</a>
         </div>
    
<center>

</center>

    
     
 <h1>About 'Dog Breed Detection'</h1>
 <img src="/static/images/dna2.gif" alt="dna" style="width:70%" class="center>
        
    <!-- Script for D3.js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Script for app.js -->
    <script type="application/javascript" src="../static/js/app.js"></script> 
    
    <div style="text-align:center">Have you ever wanted to know the breed of your dog? Don't pay for an expensive DNA test, use Dog Breed Detection!</p>
        <p>This website uses a pre-trained machine learning model called VG-99 (CNN) to transcribe dog images and predict your dog breed.</p>
 <p><b>Easy to use, two steps!</b></p>

 <p> Step 1: Upload a picture of your pooch.</p>
 <p> Step 2: Click 'Create Chart' to see your results!</p></div>
</html>