<!DOCTYPE html>
<html lang="en"> 
<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<head>  
    <title>success</title>  
</head>  
<body>  

        <div class="topnav">
            <a href="/">Home</a>
            <a href="{{ url_for('.Team') }}">Meet the Team </a>
            <a href="#contact">Contact</a>
            <a href="/about">About</a>
        </div>
    <p>You have successfully uploaded the File! </p>  
    <p>File Name: {{filename}}</p>  
    <p id="data">Data: {{train}}</p>
    <!-- <form  id = "myForm" method = "post" enctype="multipart/form-data">    -->
        <!-- action = "/results" -->
        <!-- <input type="file" name="file" />   -->
        <!-- <input type = "submit" value="Get Results">  
    </form>  -->
    <div>
        <input id ="target" type="button" value="Create Chart"/>
    </div>
    <div>
        <ul>

        </ul>
    </div>
    <!-- <div class='container'>
        <h3>Test</h3>
        <button onclick="subForm()">Run Code Test</button>
    </div> -->
    


<!-- Script for jquery -->
    
    <!-- THESE NEVER WORKED -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script> -->
    
    <!-- USE THIS when app.py has static path -->
    <!-- <script type="application/javascript" src="/static/js/jquery-3.4.1.min.js"></script>  -->

    <!-- USE THIS WHEN app.py does not have static path -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>


<!-- Script for D3.js  -->
    
    <!-- USE THIS WHEN app.py does not have static path -->
    <!-- <script src="/static/js/d3.min.js"></script> -->
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script> -->
    
    <!-- USE THIS WHEN app.py does not have static path -->
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>

<!-- Script for app.js -->
    
    <!-- USE THIS when app.py has static path -->
    <!-- <script type="application/javascript" src="/static/js/app.js"></script>  -->
    <!-- src="../static/js/app.js -->

    <!-- USE THIS WHEN app.py does not have static path -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    
    
</body>  
</html>  