<!DOCTYPE html>
<html lang="en"> 
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <head>  
    <title>success</title>  
    </head>  
    <body>  

        <div class="topnav">
            <a href="/">Home</a>
            <a href="#allpets">All Pets</a>
            <a href="#contact">Contact</a>
            <a href="/about">About</a>
        </div>
    <p>You have successfully uploaded the File! </p>  
    <p>File Name: {{filename}}</p>  
    <p>Train: {{train}}</p>
    <form action = "/results" method = "post" enctype="multipart/form-data">  
        <!-- <input type="file" name="file" />   -->
        <input type = "submit" value="Get Results">  
    </form>
    </body>  
</html>  