<!DOCTYPE html>
<html lang="en"> 
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <head>  
    <title>success</title>  
    </head>  
    <body>  

        <div class="topnav">
            <a href="/">Home</a>
            <a href="#allpets">All Pets</a>
            <a href="#contact">Contact</a>
            <a href="/about">About</a>
        </div>
    <p>You have successfully uploaded the File! </p>  
    <p>File Name: {{filename}}</p>  
    <p>Train: {{train}}</p>
    <!-- <form  id = "myForm" method = "post" enctype="multipart/form-data">   -->
        <!-- action = "/results" -->
        <!-- <input type="file" name="file" />   -->
        <!-- <input type = "submit" value="Get Results">  
    </form> --> 

    <!-- <div class='container'>
        <h3>Test</h3>
        <button onclick="subForm()">Run Code Test</button>
    </div> -->
    <!-- Script for app.js -->
    <script type="application/javascript" src="../static/js/app.js"></script> 
    <!-- Script for jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    </body>  
</html>  